* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'proxima-nova', sans-serif;
    line-height: 1.5;
}

.header {
    background-color: aqua;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-container {
    background-color: rgb(113, 118, 118);
    padding: 0 3.5rem;
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bar {
    background-color: antiquewhite;
    height: auto;
    width: 170px;
}

.logo-bar img {
    width: 165px;
    height: fit-content;
    /* background-color: aquamarine; */
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
}

.nav-bar ul li a {
    display: flex;
    gap: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 15px;
}

.header-btn {
    /* width:12rem; */
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-btn a {
    text-decoration: none;
}

.hide a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hea-btn-1 {
    color: black;
    font-size: 14px;
    text-align: center;

}

.hea-btn-2 {
    color: white;
    padding: 14px 17px;
    background-color: #33c8b0;
    font-size: 13px;
    border-radius: 9px;
    font-weight: 100;
    letter-spacing: .1rem;
}

.hea-btn-2:hover {
    background-color: black;
    color: #33c8b0;
    transition: all 0.7s ease 0.1ms;

}

/* DROP-DOWN - SOLUTIONS */

.btn-unline-2 img {
    width: 100%;
}

.btn-unline-2 {
    position: absolute;
    left: -41%;
    top: 20px;
    overflow: hidden;
    width: 67px;
    height: auto;
    transform: scaleX(0);
    transform-origin: left center;
    /* ⭐ left fixed */
    transition: transform 0.6s cubic-bezier(.22, .61, .36, 1);
    z-index: 9999;
    opacity: 0;

}

.hide:hover .btn-unline-2 {
    transform: scaleX(1);
    z-index: 9999;
    opacity: 1;


}

.menu-list>a {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;

}

.btn-unline img {
    width: 100%;
}

.btn-unline {
    width: 70px;
    top: 22px;
    left: 0%;
    position: absolute;
    height: auto;
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: left center;
    /*transition: transform 1s cubic-bezier(.22,.61,.36,1);
    */
    transition: transform 0s;

}

.menu-list:hover .btn-unline {
    transition: transform 1s cubic-bezier(.22, .61, .36, 1);
    transform: scaleX(1);

}

#Solutions {
    position: relative;
}

.drop-down {
    width: 56rem;
    height: 32.5rem;
    background-color: #fff;
    position: absolute;
    top: 130%;
    right: -38rem;
    /*margin-top: 1rem;
    */
    box-shadow: 0px 7px 15px rgb(210 215 215);
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
}

.menu-list:hover .drop-down {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 30;
}

.sub-drop-down {
    margin: 2rem 2rem;
    /* background-color: #33c8b0; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    width: 94%;
    gap: 40px;
}

.col-left {
    /* background-color: aqua; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.col-right {
    /* background-color: rgb(207, 234, 100); */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.menu-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    /* background-color: rgb(91, 171, 240); */
    gap: 2rem;
}

.menu-icon {
    height: 3rem;
    width: 5rem;
    /* background-color: #9fe3d7; */
}

.menu-icon img {
    height: 100%;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text p {
    font-size: 14px;
    font-weight: 300;

}

.title {
    font-size: 14px;
    transition: all 0.4s ease;

}

.title:hover {
    color: #33c8b0;
}

.line {
    position: absolute;
    background-color: #dedede;
    width: 1px;
    height: 90%;
    left: 26.5rem;
    border: none;
}

/* DROP-DOWN -2 */
.menu-list {
    position: relative;
}

.sub-drop-down-2 {
    margin: 2rem 2rem;
    /* background-color: #33c8b0; */
    width: 94%;
    height: 89%;
    display: flex;
}

.drop-down-2 {
    width: 56rem;
    height: 30.5rem;
    background-color: #fff;
    position: absolute;
    top: 130%;
    right: -32.5rem;
    box-shadow: 0px 7px 15px rgb(210 215 215);
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;
    z-index: 99999;

}

.menu-list:hover .drop-down-2 {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);

}

.col-left-2 {
    display: flex;
    width: 100%;
    flex-direction: column;


}

.col-right-2 {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.menu-items-2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 60px;
}

.line-2 {
    position: absolute;
    background-color: #dcd8d8;
    width: 1px;
    height: 89%;
    left: 27rem;
    border: none;
}

/* DROP-DOWN -3 */
.sub-drop-down-3 {
    margin: 2rem 2rem;
    /* background-color: #33c8b0; */
    width: 94%;
    height: 89%;
    display: flex;
}

.drop-down-3 {
    width: 56rem;
    height: 18.5rem;
    background-color: #fff;
    position: absolute;
    top: 130%;
    right: -26rem;
    box-shadow: 0px 7px 15px rgb(210 215 215);
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.menu-list:hover .drop-down-3 {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);

}

.menu-items-3 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 60px;
}

.line-3 {
    position: absolute;
    background-color: #dbd8d8;
    width: 1px;
    height: 89%;
    left: 27rem;
    border: none;
}

/* DROP-DOWN-4 */
.hide {
    position: relative;

}

.inside-drop {
    margin: 2rem 3rem;
}

.inside-drop :nth-child(1) {
    /* width: 2rem; */
    display: block;

}

.inside-drop span:first-child:hover {
    color: #33c8b0;

}

.inside-drop span:last-child:hover {
    color: #33c8b0;

}

.drop-down-4 {
    width: 15rem;
    height: 6rem;
    background-color: #fff;
    position: absolute;
    top: 170%;
    left: -5rem;
    box-shadow: 0px 0px 9px rgb(210 215 215);
    transition: opacity 0.3s ease, transform 0.5s ease;
    transform: translateY(10px);
    visibility: hidden;
    opacity: 0;
    z-index: 99999;
}

.hide:hover .drop-down-4 {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    transform: translateY(0);

}

.btn-unline-2 img {
    width: 67px;
    height: auto;
}

.hide>a {
    position: relative;
    display: inline-block;
    padding-bottom: 8px;

}


.inside-drop:hover .br-tag {
    color: #33c8b0;
    display: none;
}

/*  HOME - SECTION */

.home-section {
    min-height: 100vh;
    /* height: 100rem; */
    background-color: #dbd8d8;
    padding-top: 200px;
    padding-bottom: 145px;
}

.home-container {
    height: auto;
    background-color: antiquewhite;
    position: relative;
    width: 100%;
    /* height: 100%; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.home-left-content {
    background-color: #d9f1ed;
    /* max-width: 450px; */
    height: auto;
    width: 39%;
    z-index: 1;

}

.home-left-content h1 {
    margin-bottom: 14px;
    font: 700 40px / 1.35 'proxima-nova', sans-serif;
    max-width: 25rem;
}

.home-left-content p {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 1.9;
    max-width: 21rem;
}

.home-left-content a {
    position: relative;
    display: inline-block;
    padding: 23px;
    width: 193px;
    height: 58px;
    background-color: #00C8AF;
    font: 500 15px 'proxima-nova', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;

}

.home-left-content a:hover {
    background-color: black;
    color: #00C8AF;
}

/* .learn-after::after {
    background: url("images/cta-patternbg@2x.png") left top no-repeat;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;

    left: 30px;
    top: 10px;
    z-index: -1;
    background-size: 100% 100%;
    visibility: visible;

} */

.home-behind-content {
    background-color: #33a8c8;
    margin-top: 170px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.behind-items {
    width: 10%;
    background-color: #fae6aa;
    /* margin-right: 12px; */

}

.behind-items img {

    width: 100%;
    height: auto;
    display: block;
    /* background-color: #00C8AF; */
}

.background {
    position: absolute;
    background-color: #33c8b0;
}

.home-right-content {
    background-color: #c8a333;
    width: 61%;
    height: auto;
    display: flex;
    /* float: right;
      vertical-align: top; */
    flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    transform-origin: left center;
}

.part-circ img {
    width: 100%;
    height: auto;
    display: block;
}

#data-1 {
    position: absolute;
    width: 126px;
    top: 0px;
    background-color: rgb(176, 45, 45);
    opacity: 0;
    transform: scale(0.9);
    animation: showBox 0.8s ease forwards;
    animation-delay: 2s;
    transform: translateX(40px);

}

@keyframes showBox {
    to {
        opacity: 1;
        /*transform: translateY(0);
      */
        transform: translateX(0);

    }
}

#data-3 {
    position: absolute;
    width: 59px;
    top: 62px;
    /* background-color: black; */
    left: 55.2rem;
    z-index: 1;
}

#data-4 {
    position: absolute;
    width: 171px;
    top: -51px;
    /* background-color: black; */
}

.part-main img {
    width: 419px;
    left: 54px;
    top: 2px;
}

#data-5 {
    position: absolute;
    left: 263px;
    top: 7px;
    width: 199px;
}

#data-5 img {
    animation: bounce 2.6s ease-in-out infinite;
    -webkit-animation: bounce 2.6s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#data-6 img {
    animation: bounce-two 2.6s ease-in-out infinite;
}

@keyframes bounce-two {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);

    }
}

.part-chart-1 img {
    width: 100%;
    height: auto;
    display: block;
}

.part-chart img {
    width: 100%;
    height: auto;
    display: block;
}

#data-6 {
    position: absolute;
    left: 28px;
    top: 296px;
    width: 192px;

}

.bullhorn-part {
    position: absolute;
    left: 260px;
    top: 280px;
    width: 65px;
}

.bullhorn-part img {
    width: 100%;
    height: auto;
    display: block;
}

.horn-lines-part {
    position: absolute;
    left: 325px;
    top: 281px;
    width: 15px;
    transform: rotate(-26deg);
}

.horn-lines-part img {
    width: 100%;
    height: auto;
    display: block;
    animation: blink-1 4s .1s infinite alternate-reverse both;
}

@keyframes blink-1 {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.dotted-lines-1 {
    background-color: #4fc537;
    position: absolute;
    left: 325px;
    top: 281px;
    width: 115px;
    transform: rotate(-26deg);
}

@keyframes dotted {
    to {
        clip-path: inset(0 0 0 0);
    }
}

.dot-img-1 img {
    width: 172px;
    position: absolute;
    left: -108px;
    top: -470px;
    transform: rotate(35deg);
    animation: dotted 2.5s ease-out forwards;
    clip-path: inset(0 0 0 100%);
}

.dot-img-2 img {
    width: 123px;
    position: absolute;
    left: -267px;
    top: -248px;
    transform: rotate(331deg);
    animation: dotted 2.5s ease-out forwards;
    animation-delay: 1.9s;
    clip-path: inset(0 0 0 100%);
}

/* graph - 2 */
#data-7 {
    position: absolute;
    left: 533px;
    top: -56px;
    width: 0px;
}

/* search bar */
.searchbar {
    position: absolute;
    left: 579px;
    top: 134px;
    width: 290px;
    height: 31px;
    background-color: #75DFFC;
    border-radius: 15px;
    border: 1px solid #000;
    overflow: hidden;
}

.illus {
    width: 160px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    top: -2px;
}

.bg-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    top: 50%;
}

.dot-move-part {
    position: absolute;
    width: 262px;
    top: 9px;
    left: 115px;
}

.dot-move-part img {
    width: 100%;
    height: auto;
    display: block;
    animation: Scroll 12s linear infinite;
}

@keyframes Scroll {
    from {
        transform: translateX(-50%);

    }

    to {
        transform: translateX(0);

    }
}

.bar-graph {
    position: absolute;
    left: 586px;
    top: 35px;
    width: 291px;
    height: 291px;
    border-radius: 240px;
    height: 293px;
    overflow: hidden;
    transform: translateZ(0);
    /* background-color: #ced2d2; */
}

.graph-line {
    width: auto;
}

.graph-line img {
    animation: graphScroll 12s linear infinite;
    -webkit-animation: graphScroll 4s linear infinite;
}

@keyframes graphScroll {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateX(-50%);

    }
}

.bar-graph img {
    position: absolute;
    left: 0;
    top: 192px;
    width: 293px;
}

.graph-line-2 {
    position: absolute;
    left: 607px;
    top: 44px;
    width: 80px;
    height: 46px;
    animation: revealGraph 2s ease-out infinite forwards;
    clip-path: inset(0 100% 0 0);
}

@keyframes revealGraph {
    to {
        clip-path: inset(0 0 0 0);
    }
}

.graph-circ {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 9px;
    height: 9px;
    border-radius: 50px;
    background-color: #e5dcdc;

}

.graph-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -4px;
    top: 5px;
}

.graph-img img {
    width: 100%;
    height: auto;
    display: block;
}

/* radical-dots */
.radical-dots {
    position: absolute;
    width: 94px;
    left: 797px;
    top: 27px;
}

#item-2,
#item-3,
#item-4,
#item-7,
#item-8,
#item-12 {
    visibility: hidden;
}

.radical-dot {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 9px;
    margin-right: 8px;
    animation: dotBlink infinite 1.9s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes dotBlink {

    0%,
    50%,
    100% {
        opacity: 1;

    }

    25%,
    75% {
        opacity: 0.2;
    }
}

#item-1 {
    animation-delay: -4.93s;
}

#item-5 {
    background-color: #33a8c8;
    border: none;
    animation-delay: -4.07s;

}

#item-6 {
    background-color: #b9da36;
    border: none;
    animation-delay: -0.26s;

}

#item-9 {
    animation-delay: -2.87s;
}

#item-10 {
    background-color: #e49f27;
    border: none;
    animation-delay: -4.65s;
}

#item-11 {
    animation-delay: -3.6s;
}

#item-12 {
    animation-delay: -4.37s;
}

#item-13 {
    background-color: #e49f27;
    border: none;
    animation-delay: -4.14s;

}

#item-14 {
    animation-delay: -4.5s;
}

#item-15 {
    animation-delay: -0.37s;
}

#item-16 {
    background-color: #e49f27;
    border: none;
    animation-delay: -2.69s;
}


.card-wrap {
    position: absolute;
    left: 189px;
    top: 150px;

    width: 800px;
    /* viewport width */
    height: 142px;

    overflow: hidden;
    /* MASK */
    background-color: #009393;
}

.card-slider {
    display: flex;
    width: max-content;
    animation: cardScroll 12s linear infinite;
}

.i-card-part {
    width: 111px;
    flex-shrink: 0;
    margin-right: 24px;
}

.i-card-part img {
    width: 100%;
    display: block;
}

@keyframes cardScroll {
    from {
        transform: translateX(-50%);

    }

    to {
        transform: translateX(0);

    }

}

/*  dot-group */
/* .dot-group{
    position: absolute;
    left: 32px;
    top: 112px;
}
.dot-group-2{
    position: absolute;
    left: 194px;
    top: 112px;
}
.dot-group-3{
    position: absolute;
    left: 349px;
    top: 112px;
}
.dot-group-4{
    position: absolute;
    left: 511px;
    top: 113px;
}
.dot-group-5{
    position: absolute;
    left: 670px;
    top: 112px;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #009393;
    opacity: .5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
} */

/* home - agency */

.section-agency {
    /* background-color: #000; */
    height: auto;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    padding-top: 67px;
     display: flex;
    justify-content: center;
}

.bg-wrap {

    position: absolute;
    height: 366px;
    top: 981px;
    z-index: 2;
    pointer-events: none;
    left: 41rem;
}

.circle-wrap {
    left: 50%;
    margin-left: -945px;
    width: 315px;
}

.circle-wrap img {
    width: 100%;
    height: auto;
    display: block;
}

.content-container {
    max-width: auto;
    overflow: hidden;
    background-color: #009393;
        position: relative;
    z-index: 1;

}

.content-header,
.content-header-2{
      padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    max-width: 996px;
    margin: 0 auto;
    margin-bottom: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.strong {
    font: 700 40px / 1.35 'proxima-nova', sans-serif;
    text-align: center;

}

.content-header p,
.content-header-2 p {
    font: 500 21px / 1.8 'proxima-nova', sans-serif;
    text-align: center;

}
.content-header a {
    position: relative;
    display: inline-block;
 padding: 19px 0px;
    width: 150px;
    height: 54px;
    background-color: #00C8AF;
    font: 500 15px 'proxima-nova', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;

}
.content-header-2 a {
 position: relative;
    display: inline-block;
    padding: 22px 0px;
    width: 290px;
    height: 60px;
    background-color: #00C8AF;
    font: 500 17px 'proxima-nova', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;

}

.content-container a:hover {
    background-color: black;
    color: #00C8AF;
}
.learn-img{
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: -1;
   
}
.learn-img img{
 height:60px ;
    width:175px ;
}
.learn-img-2{
    position: absolute;
      top: 6px;
    left: 44px;
    z-index: -1;
   
}
.learn-img-2 img{
 height:62px ;
    width:182px ;
}
/* section - 3 */
.home-boxes{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 107px;
    /* padding-bottom: 100px; */
    overflow: visible;
    background-color: #b9da36;
}
.boxes-container{
    overflow: hidden;
        position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 55px;
}
.wrapper{
 position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.row-item-1{
    background-color: #009393;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    justify-content: space-between;
}
#wrapper-row-1{
    align-items: stretch;
    flex-wrap: wrap;
}

.col-left-1{
    position: relative;
    background-color: #75DFFC;
    width: auto;
    z-index: 1;


}
.col-text h2{
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 400;
}
.head-item{
    font: 600 30px / 1.45 'proxima-nova', sans-serif;
    margin-bottom: 23px;
    /* max-width: 20rem; */
}
.small-para{
        font: 100 21px / 1.45 'proxima-nova', sans-serif;
    margin-bottom: 40px;
    max-width: 29rem;
}
.col-text a {
    position: relative;
    display: inline-block;
 padding: 19px 0px;
    width: 150px;
    height: 54px;
    background-color: #00C8AF;
    font: 500 15px 'proxima-nova', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;

}

.col-text a:hover {
    background-color: black;
    color: #00C8AF;
}
.learn-img-3{
    position: absolute;
      top: 6px;
    left: 8px;
    z-index: -1;
   
}
.learn-img-3 img{
 height:62px ;
    width:182px ;
}
.learn-img-4{
    position: absolute;
      top: 2px;
    left: 21px;
    z-index: -1;
   
}
.learn-img-4 img{
    height: 68px;
    width: 297px;

}
.learn-img-5{
    position: absolute;
      top: 2px;
    left: 21px;
    z-index: -1;
   
}
.learn-img-5 img{
        height: 59px;
    width: 200px;
}
.learn-img-6{
    position: absolute;
      top: 2px;
    left: 10px;
    z-index: -1;
   
}
.learn-img-6 img{
    height: 53px;
    width: 154px;
}

/* colo -right */
.coloumn-right-img{
    width: 55%;
    height: auto;
    background-color: #8d1b1b;
  
}
.coloumn-right-img img{
    width: 100%;
    height: 26rem;
    display: block;
}
/* row-item-2 */

.row-item-2,
.row-item-4{
    background-color: #009393;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}
#coloumn-2,
#coloumn-4{
order: 2;
   padding-left: 31px;
}
#coloumn-right-2,
#coloumn-right-4{
    order: 1;
}
/* photo -parts */


.image-stack{
    position: relative;
      width: 100%;        /* fit-content hatao */
    max-width: 100%;
}

.main-img{
    width: 100%;
    height: auto;
    display: block;
}

/* common */
#photo{
    position: absolute;
    z-index: 5;
    max-width: 195px; 
    height: auto; 
}
#photo-2{
    position: absolute;
    z-index: 5;
    max-width: 139px; 
    height: auto; 
}
#photo-3{
    position: absolute;
    z-index: 5;
    max-width: 139px; 
    height: auto; 
}
#photo-4{
    position: absolute;
    z-index: 5;
    max-width: 154px; 
    height: auto; 
}

/* individual positions */
.photo-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5{
    position: absolute;
    flex-shrink: 0;       /* ⭐ stop compression */
    width: auto;
    height: auto;
    max-width:none;
    object-fit: contain;
}
.photo-1{
    top: 19%;
    left: 13%;
    width: 100px;
}

.photo-2{
    bottom: 28%;
    right: 15%;
    width: 100px;
    flex-shrink: 0;

}
.photo-3{
      bottom: 27%;
    right: 68%;
    width: 100px;
    flex-shrink: 0;
    rotate: 16deg;
}
.photo-4{
         bottom: 27%;
    right: 5%;
    width: 100px;
    flex-shrink: 0;
}
.photo-5{
       bottom: 46%;
    right: 7%;
    width: 100px;
    flex-shrink: 0;
}
/* HOME AGENCY - 2  */
.section-agency-2{
      background-color: #000;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    /* padding-top: 67px; */
    margin: 0 auto;
}
.package-main{
    background-color: #e8e231;
    height: 365px;
}
.package-main-container{
    position: relative;
    max-width: 1423px;
    width: 100%;
    height: 100%;
    /* margin-left: -687px; */
    background-color: #de1111;
    /* display: flex; */
    margin: 0 auto;
   

}
.pac-dot-img{
    position: relative;
        width: 493px;
    top: 30px;
    left: 37%;
}
.pac-dot-img img,
.pac-photo-img img,
.pack-circle-img img,
.pack-horn-img img,
.pack-img img,
.shapes-img img,
.paper-img img{
    display: block;
    width: 100%;
    height: auto;
    /* max-width: 120px; */
}
.pack-img{
    display: block;
    width: 100%;
    height: auto;
}
/* .pac-photo-img{
    position: relative;
    width: 472px;
    left: 560px;
    top: 20px;
} */
#package-1-img{
   position: absolute;
        width: 112px;
    left: 25%;
    top: 33px;
}
#package-2-img{
   position: absolute;
        width: 119px;
    left: 59%;
    top: 141px;

}
#package-3-img{
   position: absolute;
        width: 112px;
    left: 67%;
    top: 183px;

}

#pac-circle-1{
 position: absolute;
    width: 119px;
    left: 0%;
    top: 6px;
}
#pac-circle-2{
 position: absolute;
        width: 205px;
    left: 91%;
    top: 49px;
}

#pack-img-1{
 position: absolute;
    width: 246px;
    left: 3%;
    top: 92px;
}
#pack-img-2{
 position: absolute;
width: 184px;
    left: 38%;
    top: 92px;
}
#pack-img-3{
    position: absolute;
    width: 184px;
    left: 80%;
    top: 72px;
}
#pack-horn-1{
    position: absolute;
    width: 184px;
    left: 18%;
    top: 248px;
}
#pack-horn-2{
    position: absolute;
        width: 68px;
    left: 58%;
    top: 72px;
}

/* CARD - SECTION */
.card-section{
    padding-left: 0;
    padding-right: 0;
    padding-top: 22px;
    background-color: #009393;

}
.para-container{
    background-color: #4fc537;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    /* overflow-x: hidden; */
}
.para-header{
    background-color: #8d1b1b;
    display: flex;
    width: 100%;
     height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    display: flex;
    float: right;
}
.para-text{
    background-color: #33c8b0;
    width: auto;
    max-width: 600px;
    /* margin-right: 250px; */
    
    
}
.para-text h2{
        font: 600 30px / 1.45 'proxima-nova', sans-serif;
        margin-bottom: 20px;
}
.para-text p{
    font: 400 20px / 1.45 'proxima-nova', sans-serif;
    margin-bottom: 20px;
    color: #cfcdca;

}
.para-header a{
    position: relative;
    display: inline-block;
    padding: 18px 5px;
    width: 196px;
    height: 48px;
    background-color: #00C8AF;
    font: 500 12px 'proxima-nova', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
  margin-top: 40px; 
  margin-right:20px;

}

.para-header a:hover {
    background-color: black;
    color: #00C8AF;
}

/* SLIDES - WRAP */

.slides-wrap{
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding-bottom: 20px;
margin-top: 45px;
/* background-color: #c8a333; */
}

.slides-wrap-container{
    width: 100%;
    height: auto;
    /* background-color: #c333c8; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    position: relative;
}
.slides-1{
    margin-top: 43px;
    background-color: #1ad594;
    width: 365px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 20px;
    position: relative;
    background-color: #fff;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


}
.slides-1::after{
    content: "";
    position: absolute;
    background: url("images/cs-shadow@2x.png") right bottom -5px no-repeat;
    background-size: 100% 102%;
    border-radius: 30px;
    overflow: hidden;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slide-logo{
    width: 60%;
    display: flex;
    justify-content: center;
    height: 108px;
    background-color: #f45151;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    
}
.slide-logo img{
    display: block;
    height: 100%;
    width: 100%;
}
.slide-logo-2{
    width: 60%;
    display: flex;
    justify-content: center;
    height: 108px;
    background-color: #f45151;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    
}
.slide-logo-2 img{
    display: block;
    height: 37%;
    width: 100%;
}
.slide-para{
    font-size: 16px;
    width: 100%;
    max-width: 280px;
    margin: 15px auto 28px;
    height: 145px;
    overflow: hidden;
    text-align: center;
    line-height: 29px;
}
.slide-icons{
    background-color: #009393;
    position: relative;
    z-index: 1;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.row-spaced-img{
    height: 150px;
    display: flex;
    width: 100%;
}
.spaced-col-left{
    width: 50%;
    padding-top: 25px;
    background-color: #e16868;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spaced-col-left img{
    width: 75px;
}
.spaced-col-left h3{
    font-size: 33px;
}
.spaced-col-right{
    width: 50%;
    padding-top: 25px;

    background-color: #a0abab;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.spaced-col-right img{
    width: 75px;
}
.spaced-col-right h3{
    font-size: 33px;
}

/*  row -spaced text */

.row-spaced-text{
    height: 60px;
    display: flex;
    width: 100%;
    background-color: #8d1b1b;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.spaced-text-col-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.spaced-text-col-left p,
.spaced-text-col-right p{
    font-size: 13.5px;
}
.spaced-text-col-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  border-left: 1px solid black;
}
.slide-button{
    width: 100%;
    height: 100px;
    background-color: #8d1b1b;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.slide-button a{
    position: relative;
    display: inline-block;
    padding: 18px 5px;
    width: 130px;
    height: 48px;
    background-color: #00C8AF;
    font: 500 12px 'proxima-nova', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15em;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s ease;
 

}

.slide-button a:hover {
    background-color: black;
    color: #00C8AF;
}
.section-five-dots{
    display: flex;
     justify-content: center;
     max-width: 100%;
     align-items: center;
    height: 12px;
    margin-top: 24px;
}
.section-five-dots :first-child{
    background-color: #000;
}
.dot-1{
    background-color: rgb(187, 182, 182);
    width: 11px;
    height: 11px;
    border-radius: 20px;
    margin-right: 12px;
  
}


/* LAST SECTION */

.last-section{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 107px;
    padding-bottom: 33px;
    background-color: #6e9300;
}
.last-container{
    position: relative;
    margin: 0 auto;
    /* padding-left: 0;
    padding-right: 0;
    padding-top: 648px; */
    padding: 457px 20px 100px;
    background-color: #8d1b1b;
    max-width: 1570px;
    border-radius: 20px;
    height: 49rem;
}
.last-content{
    margin: 0 auto;
    height: auto;
    background-color: #cfcdca;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.3rem;
}
.last-content h2{
    text-align: center;
    /* margin-bottom: 27px; */
    font-size: 28px;
    font-weight: 500;
}
.last-content p{
    text-align: center;
    line-height: 1.9rem;
    font-size: larger;
}
.last-content p a{
    text-decoration: none;
    color: #33c8b0;
    transition: all 0.3s ease-in-out;
}
.last-content p a:hover{
    color: #000;
    font-weight: 400;
}

/*  forom -content */
.form-content{
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-width: 50rem;
    border-radius: 10px;
    padding: 13px 18px;
    border: 2px solid black;
    box-shadow: 7px 5px 0px rgb(129, 248, 236);
}
.inner-form{
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.inner-text span{
    text-align: center;
    color: #333333;
    font-size: 17px;
}
.inner-img{
    width: 100%;
    max-width: 33px;
    height: auto;
}
.inner-img{
    display: block;
    width: 100%;
    height: auto;
}

/* FORM-PHOTO */

.from-photo{
  
    position: absolute;
    right: 0%;
    margin-right: 4px;
    bottom: -76px;
    width: 166px;
    z-index: 1;
}
.spacer{
    display: inline-block;
    width: 100%;
    height: auto;
}

.top-img{
    position: absolute;
    width: 100%;
    top: 114px;
    left: 8%;
    max-width: 137px;
}
.email-img{
    position: absolute;
    width: 43px;
    height: auto;
    
}
@keyframes move{
    0%,100%{
        transform: translateY(-19%);
}
    50%{
        transform: translateY(0%);
     
}
}
@keyframes move-2{
    0%,100%{
        transform: translateY(0);
}
    50%{
        transform: translateY(-20%);
}
}
@keyframes move-3{
    0%,100%{
        transform: translateY(-40%);
}
    50%{
        transform: translateY(0%);
}
}
#email-1{
    top: -2px;
    left: 58%;
    animation: move 5s linear infinite 0s;
}
#email-2{
    top: 41px;
    left: 73%;
    animation: move-2 3s linear infinite ;
}
#email-3{
    top: 62px;
    left: 8%;
    animation: move-3 4s linear infinite 0s;
}

.last-animation{
    background-color: #009393;
    position: relative;
    width: 100%;
    bottom: 684px;
    overflow: visible;
    height: 351px;
}
.last-animation-container{
    position: relative;
    width: 100%;
    background-color: #ec5f5f;
    height: 100%;
    display: flex;
    justify-content: center;
    /* left: 50%; */
    /* margin-left: -900px; */
}
.second-animation{
    position: relative;
    width: 900px;          /* your design width */
    max-width: 900px;
    margin: 0 auto;       /* perfect center */
    transform: scale(.74);
    transform-origin: top center;
}

.base{
    width: 760px;
    position:relative ;

}

.radical-dots-two{
    position: absolute;
    width: 94px;
    left: 306px;
    top: 72px;
    
}
.radical-dots-three{
    position: absolute;
    width: 94px;
    left: -24px;
    top: 26px;
    transform: rotate(181deg);
 
}
.radical-dot-21{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 9px;
    margin-right: 8px;
    animation: dotBlink-2 infinite 1.9s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation: dotBlink-2 infinite 1.9s ease-in-out;
}
@keyframes dotBlink-2 {

    0%,
    50%,
    100% {
        opacity: 1;

    }

    25%,
    75% {
        opacity: 0.2;
    }
}
.sc-ani-img{
    position: relative;
    width: 234px;
}
#ssecond-1{
    position: absolute;
    top: 36px;
    left: 327px;
    animation: move-4 4s linear infinite 0s;
}
#ssecond-2{
    position: absolute;
    top: 204px;
    left: 504px;
    animation: move-5 4s linear infinite 0s;
    -webkit-animation: move-5 4s linear infinite 0s;
}
#ssecond-3{
    position: absolute;
    top: 353px;
    left: 0px;
    z-index: 1;
    animation: move-6 6s linear infinite 0s;
}

@keyframes move-4{
    0%,100%{
        transform: translateY(-30%);
      
}
    50%{
        transform: translateY(0%);
}
}
@keyframes move-5{
    0%,100%{
        transform: translateY(0);
    
}
    50%{
        transform: translateY(-30%);
     
}
}

@keyframes move-6{
    0%,100%{
        transform: translateY(0);

}
    50%{
        transform: translateY(-30%);

}
}
.horn-lines-part-2 {
    position: absolute;
    left: 511px;
    top: 399px;
    width: 18px;
    transform: rotate(29deg);
}

.horn-lines-part-2 img {
    width: 100%;
    height: auto;
    display: block;
    animation: blink-2 4s .1s infinite alternate-reverse both;
    -webkit-animation: blink-2 4s .1s infinite alternate-reverse both;
}

@keyframes blink-2 {

    0%,
    50%,
    100% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.grap-dot-two{
    position: absolute;
    left: 126px;
    top: 82px;
    width: 78px;
    height: 45px;
    animation: revealGraph-2 2s ease-out infinite forwards;
    clip-path: inset(0 100% 0 0);
}

@keyframes revealGraph-2 {
    to {
        clip-path: inset(0 0 0 0);
    }
}
.graph-img-2 {
    width: 94%;
    height: 100%;
    position: absolute;
    left: -3px;
    top: 8px;
}


.graph-dot-2-l{
        position: absolute;
        right: 4%;
        top: 2px;
        width: 9px;
        height: 9px;
        border-radius: 50px;
        background-color: #f7f4f4;

  }
  .searchbar-l{
    position: absolute;
    left: 124px;
    top: 169px;
    width: 238px;
    height: 31px;
    background-color: #75DFFC;
    border-radius: 15px;
    border: 1px solid #000;
    overflow: hidden;
    will-change: transform;
}

.illus-l {
    width: 160px;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    top: -2px;
}

.bg-line-l {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    top: 50%;
}

.dot-move-part-l {
    position: absolute;
    width: 262px;
    top: 9px;
    left: 115px;
}

.dot-move-part-l img {
    width: 100%;
    height: auto;
    display: block;
    animation: Scroll-2 12s linear infinite;
    -webkit-animation: Scroll-2 12s linear infinite;
}

@keyframes Scroll-2 {
    from {
        transform: translateX(-120px);
        -webkit-transform: translateX(-120px);
        -moz-transform: translateX(-120px);
        -ms-transform: translateX(-120px);
        -o-transform: translateX(-120px);
}

    to {
        transform: translateX(0);

    }
}

.bar-graph-ll {
    position: absolute;
    left: 112px;
    top: 104px;
    width: 259px;
    overflow: hidden;
    border-radius: 240px;
    height: 245px;
    border-radius: 240px;
    transform: translateZ(0);
    /* background-color: #ced2d2; */
    will-change: transform;
}

.graph-line-ll {
    width: auto;
    transform: translateZ(0);
    will-change: transform;
}

.graph-line-ll img {
    animation: graphScroll-ll 12s linear infinite;
}

@keyframes graphScroll-ll {
    from {
        transform: translateX(0);

    }

    to {
        transform: translateX(-120px);
        -webkit-transform: translateX(-120px);
        -moz-transform: translateX(-120px);
        -ms-transform: translateX(-120px);
        -o-transform: translateX(-120px);
}
}

.bar-graph-ll img {
    position: absolute;
    left: 0;
    top: 159px;
    width: 258px;
   
}